.spot-details{
    margin-top: 7rem;
}
.detail-space{
    display: flex;
    flex-grow: 1;
    width: 97vw;
}
.detail-image {
    border-radius: 1rem;
    /* margin: .2vw; */
}
.detail-image-0 {
    width: 48vw;
    height: 48vw;
    object-fit: cover;
}
.detail-images-right {
    max-width: 48vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: .4vw;
}
.detail-images-right img {
    box-sizing: border-box;
    width: 23vw;
    height: 23vw;
    margin: .4vw;
    object-fit: cover;
}

.spot-name, .spot-subtitle, .hosted-by{
    font-family: 'Mulish', sans-serif;
}
.description {
    display: flex;
    font-family: 'Montserrat', sans-serif;
}
.review-container {
    margin-top: 7rem;
    font-family: 'Montserrat', sans-serif;

}
h1, h3, h4 {
    font-family: 'Mulish', sans-serif;
}
.price-review-reserve {
    font-family: 'Montserrat', sans-serif;
    border: non;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 20rem;
    height: 5rem;
    box-shadow: 0rem 0rem .3rem grey;
    margin-left: 1rem;
}
.reserve-text {
    display: flex;
    margin-bottom: 1rem;
}
.reserve-button{
    border: none;
    border-radius: 0rem;
    width: 15rem;
    height: 2rem;
    background-color: #957DAD;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    justify-content: center;
}
.reserve-button:active, .post-review-button:active {
    background-color: #4a2173;
    box-shadow: 0rem 0rem 3rem .2rem lightslategray;
}
.reserve-button:hover, .post-review-button:hover {
    border: 2px #D291BC solid;
}

.description {
    display: flexbox;
}
