.spot-details {
    margin-top: min(10vmin, 7rem);
}
.spot-details-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.spot-details-90 {
    width: min(95vw, 75rem);
}
.detail-space{
    display: flex;
    width: 100%;
}
.detail-image-0 {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: min(3vmin, 1rem) 0 0 min(3vmin, 1rem);
}
.detail-images-left {
    width: 50%;
}
.detail-images-right {
    width: 50%;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1vmin;
    margin-left: 1vmin;
    border-radius: 0 min(3vmin, 1rem) min(3vmin, 1rem) 0;
    overflow: hidden;
}
.detail-images-right img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.spot-name,
.spot-subtitle,
.hosted-by {
    font-family: 'Mulish', sans-serif;
}

.description {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: min(2.5vmin, 1rem);
}
.review-container {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}
.review-divider {
    width: 70vw;
}
.price-review-reserve {
    font-family: 'Montserrat', sans-serif;
    border: 1px rgb(207, 207, 207) solid;
    border-radius: min(1vmin,.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: min(fit-content, 15rem);
    height: fit-content;
    box-shadow: 0rem 0rem min(3vmin, 1rem) rgb(207, 207, 207);
    margin: min(5vmin, 3rem) 0 min(5vmin, 3rem) min(5vmin, 3rem);
    font-size: min(2.5vmin, 1rem);
    padding: min(2vmin, 1rem);
}
.reserve-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: min(2vmin, 1rem);
    font-size: min(2.5vmin, 1rem);
    align-items: flex-end;
    width: 100%;
}

.reserve-left-price {
    font-weight: bold;
    font-size: min(3vmin, 1.5rem);
}

.reserve-right,
.review-body {
    font-size: min(2.5vmin, 1rem);
}
.reserve-button{
    width: min(20vmin, 15rem);
}
.reserve-breakdown,
.reserve-hr {
    width: 100%;
}
.reserve-hr {
    margin: min(3vmin, 1.5rem)
}
.reserve-item {
    text-decoration: underline;
}
.reserve-total-before-taxes {
    font-weight: bold;
}
.reserve-item-cost {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.reserve-total-before-taxes {
    width: 100%;
}
.reserve-total-price {
    float: right;
}
.spot-accolade {
    display: flex;
    flex-direction: row;
    margin: min(3vmin, 1.5rem);
}
.spot-accolade i,
.spot-offers i {
    color: rgb(79, 79, 79);
    margin-right: min(2.5vmin, 1rem);
    font-size: min(3vmin, 1.5rem);
}
.spot-offers {
    margin: min(3vmin, 1.5rem);
}
.bold-text {
    font-weight: bold;
}
.description {
    display: flexbox;
    font-size: min(2.5vmin, 1rem);
    line-height: min(3.5vmin, 1.5rem);
}
.review-body {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    margin-bottom: 5vmin;
    font-size: min(2.5vmin, 1rem);
    line-height: min(3.5vmin, 1.5rem);
}
.review-date {
    color: rgb(119, 119, 119);
    margin-top: 0rem;
}
@media only screen and (max-width: 768px){
    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .price-review-reserve {
        width: fit-content;
        margin: min(5vmin, 3rem) ;

    }

}

/* summer revisions */
.reserve-spot {
    display: flex;
    flex-direction: column;
    padding: min(1vmin, .5rem);
}
.reserve-spot label {
    font-weight: bold;
}
.reserve-container {
    padding: min(1vmin, .5rem);
}
.reserve-container.checkin {
    border-right: 1px solid grey;
}
.all-but-button {
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    border-radius: min(1.5vmin, .5rem);
    overflow: hidden;
    margin-bottom: min(2vmin, 1rem);
}
