.spot-details{
    margin-top: 7rem;
}
.detail-space{
    display: flex;
    width: 97vw;
}
.detail-image {
    border-radius: min(3vmin, 1rem);
}
.detail-image-0 {
    width: 48vw;
    height: 48vw;
    object-fit: cover;
}
.detail-images-right {
    max-width: 48vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1vmin;
    margin-left: 1vmin;
}
.detail-images-right img {
    box-sizing: border-box;
    width: 23vw;
    height: 100%;
    object-fit: cover;
    height: 23.5vw;
}

.spot-name,
.spot-subtitle,
.hosted-by {
    font-family: 'Mulish', sans-serif;
}

.description {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: min(3vmin, 1rem);
}
.review-container {
    margin-top: 7rem;
    font-family: 'Montserrat', sans-serif;
}

.price-review-reserve {
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 5rem;
    box-shadow: 0rem 0rem .3rem grey;
    margin: min(2vmin, 1rem);
    font-size: min(3vmin, 1rem);
    padding: min(2vmin, 1rem);
}
.reserve-text {
    display: flex;
    margin-bottom: 1rem;
    font-size: min(2vmin, 1rem);
}
.reserve-right {
    font-size: min(2vmin, 1rem);
}
.reserve-button{
    border: none;
    border-radius: 0rem;
    width: min(15vmin, 15rem);
    height: min(3vmin, 2rem);
    font-size: min(2vmin, 1rem);
    background-color: #957DAD;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    justify-content: center;
}
.reserve-button:active, .post-review-button:active:enabled {
    background-color: #4a2173;
    box-shadow: 0rem 0rem 3rem .2rem lightslategray;
}
.reserve-button:hover, .post-review-button:hover:enabled {
    border: 2px #D291BC solid;
}

.description {
    display: flexbox;
}
