.manage-spots-div{
    margin-top: min(10vmin, 7rem);
}
.manage-landing {
    display: grid;
    grid-template-columns: auto auto auto auto;
    max-width: 110;
    gap: .5rem
}

.manage-spots-title {
    font-family: 'Mulish', sans-serif;
}
@media only screen and (max-width: 85rem){
    .manage-landing {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
    }

}
@media only screen and (max-width: 65rem){
    .manage-landing {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }

}

@media only screen and (max-width: 45rem){
    .manage-landing {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}
