.signup-div {
    width: 20rem;
}
.signup-title{
    margin-left: min(2vmin, 1rem);
}
.signup-button {
    border: none;
    border-radius: 0rem;
    width: 15rem;
    height: 2rem;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    justify-content: center;
    margin: 1rem;
}
.signup-input {
    margin: .5rem;
    width: 15rem;
}
