/* form {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2rem;
    font-family: 'Montserrat', sans-serif;
}
input {
    padding-left: 5rem;
}
h1 {
    font-family: 'Mulish', sans-serif;
    color: #4a355e;
}
/* button {
    background-color: #4a355e;
} */ 
