.create-spot-modal{
    max-height: 85vh;
    max-width: 80vw;
    overflow: auto;
    margin-top: 4rem;
}
.create-spot-modal > input {
    margin: 0rem;
}
.create-subtitle {
    display: flex;
    margin: 0rem;
    text-align: left;
}
textarea {
    align-items: center;
}
label {
    font-size: .8rem;
}
p.errors, span.errors{
    display: block;
    text-align: left;
    font-size: .8rem;
    margin: .2rem;
    color: red
}
.create-input {
    width: 25rem;
}
.create-segment{
    display: flex;
    flex-direction: column;
    flex-wrap: row;
    width: 25rem;
}
.create-country, .create-address {
    display: flex;
    flex-direction: column;
}
.create-city, .create-state,.create-lat, .create-lng {
    width: 11rem;
}
.create-state {
    width: 11rem;
}
.create-label {
    max-width: 25rem;
    text-align: left;
}
.create-half {
    width: 5rem
}
.create-segment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.guests {
    color: black;
    max-width: 25rem;
}
.submit-button {
    border: none;
    border-radius: 0rem;
    width: 15rem;
    height: 2rem;
    background-color: #957DAD;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    justify-content: center;

    margin: 1rem;

}
.submit-button:active {
    background-color: #4a2173;
    box-shadow: 0rem 0rem 3rem .2rem lightslategray;
}
.submit-button:hover {
    border: 2px #D291BC solid;
}
