.review-filled {
    color: gold;
}
.review-empty {
    color: #A0A7B2;
}
.post-review {
    margin: 1rem;
}
.review-button{
    border: none;
    border-radius: 0rem;
    width: 15rem;
    height: 2rem;
    background-color: #957DAD;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    justify-content: center;
    margin: .5rem;
}
.review-button:hover:enabled {
    border: 2px #D291BC solid;
}
.review-button:active:enabled {
    background-color: #4a2173;
    box-shadow: 0rem 0rem 3rem .2rem lightslategray;
}
.post-review-modal {
    margin: .3rem;
}
.rating-input{
    margin: .3rem;
}
.review-empty,
.review-filled {
    cursor: pointer;
    transition: .2s ease-in-out;
}
.review-empty:hover,
.review-filled:hover {
    scale: 1.40;
}
