.review-filled {
    color: gold;
}
.review-empty {
    color: #A0A7B2;
}
.post-review {
    margin: 1rem;
}
.submit-button{
    border: none;
    border-radius: 0rem;
    width: 15rem;
    height: 2rem;
    background-color: #957DAD;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    justify-content: center;
}
.submit-button:hover {
    border: 2px #D291BC solid;
}
.submit-button:active {
    background-color: #4a2173;
    box-shadow: 0rem 0rem 3rem .2rem lightslategray;
}
