.your-reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.your-reservation div {
    font-size: min(3vmin, 1rem);
}
.your-reservation span {
    font-size: min(3vmin, 1rem);
}
.reservation-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: min(3vmin, 3rem);
    width: min(95%, 75rem);
    margin-top: 11vmin;
}
.reservation-img {
    width: 100%;
    aspect-ratio: 5/3;
    object-fit: cover;
    border-radius: .5vmin;
}
.reservation-intro {
    font-weight: bold;
}
.reservation-grey-text {
    color: rgb(74, 74, 74);
    font-weight: bold;
}
.reservation-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: min(2.5vmin, 1rem) 0px;
    font-size: min(2.5vmin, 1.4rem);
}
.reservation-user-icon {
    border-radius: 50%;
    width: 6vmin;
    height: fit-content;
}
.reservation-title {
    margin: 0rem 0rem min(2vmin, 1rem) 0rem;
    color: rgb(75, 75, 75);

}
.checkout-deets {
    float: right;
}
.reservation-checkin,
.reservation-subtitle {
    color: rgb(74, 74, 74);
    font-weight: bold;
}
.full-iternary {
    background-color: #9c5cd8;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 6vmin;
    width: 100%;
    margin: 2vmin 0rem;
    border-radius: .5vmin;
    cursor: pointer;
}
.reservation-subtitle div {
    font-size: 2.5vmin;
}
.reservation-right hr {
    margin: 2vmin 0rem;
}
@media only screen and (max-width: 768px){
    .reservation-content {
        display: flex;
        flex-direction: column;
    }

}
