/* TODO Add site wide styles */
h1 {
    font-size: min(5vmin, 2rem);
}
h2 {
    font-size: min(4vmin, 1.7rem);
}
/* body {
    margin: 0rem;
    padding: 0rem;
} */
.fa-star {
    font-size: min(3vmin, 1rem);
}
