.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: min(10vmin, 6rem);
    border-bottom: 1px solid #ccc;
    z-index: 100;
    background-color: white;
  }
.logo {
    font-family: 'Special Elite', cursive;
    font-size: min(5vmin, 2.5rem);
    align-self: center;
    color: #4a355e;
}

.logo-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10vmin;
    gap: 4vmin;
}
.header a {
    text-decoration: none;
}
.scarebnb-home {
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    font-weight: 600;
}
.navigation-corner {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 10vmin;
}
.planchette {
    height: min(7vmin, 4rem);
}


@media only screen and (max-width: 768px){
    .header-globe {
        display: none;
    }

}
