.logo {
    font-family: 'Mulish', sans-serif;
    font-size: 2rem;
    color: #4a355e;
}
.scarebnb-home {
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
}
.fa-solid.fa-ghost{
    font-size: 2rem;
    color: 4a355e;
}
