.spot-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-auto-rows: minmax(100px, auto); */
    margin-top: min(15vmin, 7rem);
    max-width: 110;
    gap: min(2vmin, 1rem)
}

@media only screen and (max-width: 1600px){
    .spot-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}
 @media only screen and (max-width: 1200px){
    .spot-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 768px){
    .spot-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 480px){
    .spot-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}
