.spot-card {
    display: grid;
    height: 28rem;
    width: 20rem;
    border-radius: 1rem;
    flex-wrap: row;
    visibility: visible;
}
.spot-image {
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
    object-fit: cover;
}
.rating {
    text-align: right;
}
.spot-card-text {
    margin-top: .2rem;
    margin-bottom: .1rem;
    font-family: 'Montserrat', sans-serif;
    color: grey;
    overflow: hidden;
}
.city {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.rating {
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    font-weight: 600;
}
.price {
    color: black;
    font-weight: 600;
}
.star {
    color: gold;
}
.spot-tooltip {
    visibility: hidden;
    width: fit-content;
    background-color: white;
    border-radius: 1rem;
    color: black;
    padding: .4rem;
    border-radius: .4rem;
    position: absolute;
    z-index: 1;
    margin-top: .5rem;
    margin-left: .5rem;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 3rem;
    margin-left: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}
.fa-solid.fa-ghost{
    font-size: 1.5rem;
    color: #4a355e;
}
.spot-tooltip::after {
    content: '';
    position: absolute;
}
.spot-card:hover .spot-tooltip {
    visibility: visible;
    opacity: 1;
}
.top-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1rem;
    margin-bottom: 0;
}
