.spot-card {
    display: grid;
    width: 100%;
    border-radius: 1rem;
    flex-wrap: row;
    visibility: visible;
}
.spot-image {
    width: 100%;
    aspect-ratio: 1;
    border-radius: min(2vmin, 1rem);
    object-fit: cover;
}
.rating {
    text-align: right;
}
.spot-card-text {
    margin-top: .2rem;
    margin-bottom: .1rem;
    font-family: 'Montserrat', sans-serif;
    color: grey;
    overflow: hidden;
}
.spot-card-city,
.spot-card-rating {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: min(2.5vmin, 1rem);
    color: black;
    overflow-wrap: anywhere;
}
.spot-card-rating {
    text-align: right;
}
.price {
    color: black;
    font-weight: 600;
font-size: min(2.5vmin, 1rem)
}
.star {
    color: gold;
    font-size: min(3vmin, 1rem)
}
.spot-tooltip {
    visibility: hidden;
    width: fit-content;
    background-color: white;
    border-radius: 1rem;
    color: black;
    padding: min(1vmin, .4rem);
    border-radius: .4rem;
    position: absolute;
    z-index: 1;
    margin-top: min(2vmin, .5rem);
    margin-left: min(2vmin, .5rem);
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: min(2vmin, 2rem);
    margin-left: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: min(2vmin, .8rem);
}
.fa-solid.fa-ghost{
    font-size: min(2.5vmin, 1rem);
    color: #4a355e;
}
.spot-tooltip::after {
    content: '';
    position: absolute;
}
.spot-card:hover .spot-tooltip {
    visibility: visible;
    opacity: 1;
}
.top-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-right: 1rem; */
    margin-bottom: 0;
}
