#profile-button {
    background-color: white;
    border-radius: 3rem;
    border: solid grey;
    padding: .3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: .2s ease-in-out;
    display: flex;
    flex-direction: row;
}
.profileburger {
    transition: .2s ease-in-out;
}
.profileburger:hover button {
    box-shadow: 0rem 0rem min(1vmin, .5rem) darkgray;
}
.fa-bars,
.fa-user-circle {
    box-shadow: none;
    display: inline-block;
    vertical-align: middle;
    padding-inline: .3rem;
    font-size: 1rem;
    box-shadow: none;
    color: #A0A7B2
}
.fa-user-circle {
    font-size: min(4vmin, 1.5rem);
}
.fa-bars {
    font-size: min(3vmin, 1rem);
}
.hidden {
    display: none;
    height: 0rem;
}
.profile-dropdown {
    box-shadow: 0px 0px min(2vmin, .5rem) gray;
    position: fixed;
    border-radius: .5rem;
    top: 6rem;
    right: 2rem;
    background: white;
    padding: 2rem;
    transform: .2s;
}
.profile-dropdown.active {
    height: fit-content;

}
