.profile-button {
    background-color: white;
    border-radius: 3rem;
    border: solid grey;
    padding: .3rem;
    justify-content: center;
    transition: .2s ease-in-out;
}
.profile-button :hover {
    box-shadow: 0rem 0rem min(1vmin, .5rem) darkgray;
}
.fa-bars,
.fa-user-circle {
    box-shadow: none;
}
i {
    display: inline-block;
    vertical-align: middle;
    padding-inline: .3rem;
    font-size: 1rem;
    box-shadow: none;
    color: #A0A7B2
}
.fa-user-circle {
    font-size: 1.5rem;
}
.hidden {
    display: none;
}
.profile-dropdown {
    box-shadow: 0px 0px 100rem black;
    position: fixed;
    border-radius: .5rem;
    top: 6rem;
    right: 2rem;
    background: white;
    padding: 2rem;
}
